<a href="https://colab.research.google.com/github/rushi-k12/Data_Cleaning/blob/Practice/clean_8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df=pd.read_csv("/content/Cleaned_DS_Jobs.csv")

In [3]:
data=df.copy()

In [4]:
df.head()

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Type of ownership,Industry,...,company_age,python,excel,hadoop,spark,aws,tableau,big_data,job_simp,seniority
0,Sr Data Scientist,137-171,Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst,"New York, NY","New York, NY",1001 to 5000 employees,Nonprofit Organization,Insurance Carriers,...,27,0,0,0,0,1,0,0,data scientist,senior
1,Data Scientist,137-171,"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,Company - Public,Research & Development,...,52,0,0,1,0,0,0,1,data scientist,na
2,Data Scientist,137-171,Overview\n\n\nAnalysis Group is one of the lar...,3.8,Analysis Group,"Boston, MA","Boston, MA",1001 to 5000 employees,Private Practice / Firm,Consulting,...,39,1,1,0,0,1,0,0,data scientist,na
3,Data Scientist,137-171,JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,INFICON,"Newton, MA","Bad Ragaz, Switzerland",501 to 1000 employees,Company - Public,Electrical & Electronic Manufacturing,...,20,1,1,0,0,1,0,0,data scientist,na
4,Data Scientist,137-171,Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions,"New York, NY","New York, NY",51 to 200 employees,Company - Private,Advertising & Marketing,...,22,1,1,0,0,0,0,0,data scientist,na

In [5]:
pd.set_option('display.max_columns',None)
pd.set_option('display.max_rows',None)

In [6]:
df

                                             Job Title Salary Estimate  \
0                                    Sr Data Scientist        137-171
1                                       Data Scientist        137-171
2                                       Data Scientist        137-171
3                                       Data Scientist        137-171
4                                       Data Scientist        137-171
5                                       Data Scientist        137-171
6             Data Scientist / Machine Learning Expert        137-171
7                                       Data Scientist        137-171
8                     Staff Data Scientist - Analytics        137-171
9                                       Data Scientist        137-171
10                                      Data Scientist        137-171
11                                      Data Scientist        137-171
12           Data Scientist - Statistics, Early Career        137-171
13                                        Data Modeler        137-171
14                                      Data Scientist        137-171
15                          Experienced Data Scientist        137-171
16                                      Data Scientist        137-171
17                                     Data Analyst II        137-171
18                               Medical Lab Scientist        137-171
19                                      Data Scientist        137-171
20                     Data Scientist/Machine Learning        137-171
21                             Human Factors Scientist        137-171
22      Business Intelligence Analyst I- Data Insights        137-171
23                                      Data Scientist        137-171
24                                      Data Scientist        137-171
25                               Data Scientist - Risk        137-171
26                      Data Scientist-Human Resources        137-171
27                                      Data Scientist        137-171
28                                      Data Scientist        137-171
29                                      Data Scientist         75-131
30            Data Scientist / Machine Learning Expert         75-131
31                                      Data Scientist         75-131
32        Senior Research Statistician- Data Scientist         75-131
33                                       Data Engineer         75-131
34                            Associate Data Scientist         75-131
35                       Business Intelligence Analyst         75-131
36                                      Data Scientist         75-131
37                                      Data Scientist         75-131
38                       Senior Analyst/Data Scientist         75-131
39                                        Data Analyst         75-131
40                           Machine Learning Engineer         75-131
41                                      Data Analyst I         75-131
42                       Scientist - Molecular Biology         75-131
43                                      Data Scientist         75-131
44           Computational Scientist, Machine Learning         75-131
45                               Senior Data Scientist         75-131
46                                      Data Scientist         75-131
47                                      Data Scientist         75-131
48                                      Data Scientist         75-131
49                                        Data Analyst         75-131
50                                      Data Scientist         75-131
51                                      Data Scientist         75-131
52                             E-Commerce Data Analyst         75-131
53                             Data Analytics Engineer         75-131
54                               Senior Data Scientist         75-131
55           Product Data Scientist - Ads Data Science         75-131
56                                      Data Scientist         75-131
57                       Data Scientist - Intermediate         75-131
58                                        Data Analyst         75-131
59                           Machine Learning Engineer         75-131
60                                      Data Scientist         79-131
61                                      Data Scientist         79-131
62                                 Global Data Analyst         79-131
63                                       Data Engineer         79-131
64                                      Data Scientist         79-131
65                                      Data Scientist         79-131
66                   Data & Machine Learning Scientist         79-131
67                   Data Scientist - Machine Learning         79-131
68                              Data Engineer (Remote)         79-131
69   Data Scientist, Applied Machine Learning - Bay...         79-131
70                            Principal Data Scientist         79-131
71                               Business Data Analyst         79-131
72                              Purification Scientist         79-131
73                                        Data Analyst         79-131
74                 Data Engineer, Enterprise Analytics         79-131
75                                      Data Scientist         79-131
76                                      Data Scientist         79-131
77                              Data Scientist 3 (718)         79-131
78                  Real World Science, Data Scientist         79-131
79                                      Data Scientist         79-131
80                                       Data Engineer         79-131
81          Data Scientist - Image and Video Analytics         79-131
82                                      Data Scientist         79-131
83      Data Science Manager, Payment Acceptance - USA         79-131
84                                        Data Analyst         79-131
85              Data Scientist / Applied Mathematician         79-131
86                           Machine Learning Engineer         79-131
87                                      Data Scientist         79-131
88            Patient Safety- Associate Data Scientist         79-131
89                           Machine Learning Engineer         79-131
90                               Senior Data Scientist         79-131
91                                      Data Scientist         99-132
92                    Staff Data Scientist - Analytics         99-132
93                             Data Analytics Engineer         99-132
94              Data Scientist, Kinship - NYC/Portland         99-132
95                               Senior Data Scientist         99-132
96      Applied Technology Researcher / Data Scientist         99-132
97                           Machine Learning Engineer         99-132
98         Health Data Scientist - Biomedical/Biostats         99-132
99                               Senior Data Scientist         99-132
100                               Staff Data Scientist         99-132
101                                     Data Scientist         99-132
102                 Sr Data Engineer (Sr BI Developer)         99-132
103                                      Data Engineer         99-132
104                                Lead Data Scientist         99-132
105                                     Data Scientist         99-132
106                                   RFP Data Analyst         99-132
107                                       Data Analyst         99-132
108                            Data Scientist (TS/SCI)         99-132
109                                      Data Engineer         99-132
110                                     Data Scientist         99-132
111                                     Data Scientist         99-132
112                   Software Engineer - Data Science         99-132
113                              Data Analyst/Engineer         99-132
114                                      NGS Scientist         99-132
115                                      Data Engineer         99-132
116                                     Data Scientist         99-132
117                               Senior Data Engineer         99-132
118                              Senior Data Scientist         99-132
119                                      Data Engineer         99-132
120                      Business Intelligence Analyst         99-132
121             Sr. ML/Data Scientist - AI/NLP/Chatbot         99-132
122                                     Data Scientist         90-109
123                                     Data Scientist         90-109
124                                      Data Engineer         90-109
125             Sr. ML/Data Scientist - AI/NLP/Chatbot         90-109
126                                     Data Scientist         90-109
127                               Senior Data Engineer         90-109
128                                      Data Engineer         90-109
129                                     Data Scientist         90-109
130                               Senior Data Engineer         90-109
131                                     Data Scientist         90-109
132                                       Data Analyst         90-109
133                                      Data Engineer         90-109
134             Data Integration and Modeling Engineer         90-109
135                      Tableau Data Engineer 20-0117         90-109
136                              Senior Data Scientist         90-109
137                                  AI Data Scientist         90-109
138                          Machine Learning Engineer         90-109
139    Research Scientist Patient Preferences (Remote)         90-109
140                                     Data Scientist         90-109
141           Scientist - Biomarker and Flow Cytometry         90-109
142                                     Data Scientist         90-109
143                                  Analytics Manager         90-109
144                                     Data Scientist         90-109
145                       Staff Scientist- Upstream PD         90-109
146                                      Data Engineer         90-109
147           Sr Scientist - Extractables & Leachables         90-109
148                   ELISA RESEARCH SCIENTIST (CV-15)         90-109
149                                  Sr Data Scientist         90-109
150                                     Data Scientist        101-165
151                         Experienced Data Scientist        101-165
152                          Machine Learning Engineer        101-165
153                                     Data Scientist        101-165
154                                     Data Scientist        101-165
155                          Say Business Data Analyst        101-165
156                          Geospatial Data Scientist        101-165
157                                       Data Analyst        101-165
158                            Computational Scientist        101-165
159                                     Data Scientist        101-165
160                                Senior Data Analyst        101-165
161                                Senior Data Analyst        101-165
162                                      Data Engineer        101-165
163                                    Sr Data Analyst        101-165
164                                     Data Scientist        101-165
165          Machine Learning Scientist - Bay Area, CA        101-165
166                                     Data Scientist        101-165
167                 Senior Data Scientist - Algorithms        101-165
168                                       Data Analyst        101-165
169           Senior Data & Machine Learning Scientist        101-165
170                                      Data Engineer        101-165
171          Data Scientist - Statistics, Early Career          56-97
172                                     Data Scientist          56-97
173                          Machine Learning Engineer          56-97
174  Research Scientist - Patient-Centered Research...          56-97
175  Jr. Business Data Analyst (position added 6/12...          56-97
176                              Sr. Data Scientist II          56-97
177                                     Data Scientist          56-97
178                                Senior Data Analyst          56-97
179                                Lead Data Scientist          56-97
180     Production Engineer - Statistics/Data Analysis          56-97
181                              Statistical Scientist          56-97
182                 Computational Behavioral Scientist          56-97
183        Principal Data Scientist - Machine Learning          56-97
184               Principal Machine Learning Scientist          56-97
185                                      Data Engineer          56-97
186                           Principal Data Scientist          56-97
187                                     Data Scientist          56-97
188               Senior Data Scientist - R&D Oncology          56-97
189                                     Data Scientist          56-97
190                       Health Plan Data Analyst, Sr          56-97
191  Principal Scientist/Associate Director, Qualit...          56-97
192        Analytics - Business Assurance Data Analyst          56-97
193                                     Data Scientist         79-106
194                                     Data Scientist         79-106
195                          Machine Learning Engineer         79-106
196                                      Data Engineer         79-106
197  Senior Data Scientist – Image Analytics, Novar...         79-106
198                                      Data Engineer         79-106
199                            Data Science Instructor         79-106
200               Senior Business Intelligence Analyst         79-106
201                    In-Line Inspection Data Analyst         79-106
202         Data Scientist - TS/SCI FSP or CI Required         79-106
203                                     Data Scientist         79-106
204                              Senior Data Scientist         79-106
205                   Data Scientist - TS/SCI Required         79-106
206                     Data Science Software Engineer         79-106
207  ENGINEER - COMPUTER SCIENTIST - RESEARCH COMPU...         79-106
208                              AI Ops Data Scientist         79-106
209                  Intelligence Data Analyst, Senior         79-106
210                      Analytics Manager - Data Mart         79-106
211                  Data Modeler (Analytical Systems)         79-106
212   Senior Machine Learning Scientist - Bay Area, CA         79-106
213                         Report Writer-Data Analyst         79-106
214                    Data Scientist/Machine Learning         71-123
215                              Data Scientist - Risk         71-123
216                                      Data Engineer         71-123
217                     Staff Data Scientist - Pricing         71-123
218                                     Data Scientist         71-123
219                                     Data Scientist         71-123
220                                     Data Scientist         71-123
221                          Machine Learning Engineer         71-123
222  Equity Data Insights Analyst - Quantitative An...         71-123
223                                     Data Scientist         71-123
224  Research Scientist - Patient-Centered Research...         71-123
225                                     Data Scientist         71-123
226                            Operations Data Analyst         71-123
227                              Sr. Data Scientist II         71-123
228                                     Data Scientist         71-123
229                                     Data Scientist         71-123
230                                Senior Data Analyst         71-123
231                                     Data Scientist         71-123
232                                     Data Scientist         90-124
233       Senior Research Statistician- Data Scientist         90-124
234                             Software Data Engineer         90-124
235                                     Data Scientist         90-124
236                Real World Evidence (RWE) Scientist         90-124
237                                     Data Scientist         90-124
238                                     Data Scientist         90-124
239                                     Data Scientist         90-124
240                                     Data Scientist         90-124
241                               Computer Scientist 1         90-124
242                                Lead Data Scientist         90-124
243                                     Data Scientist         90-124
244                                     Data Scientist         90-124
245                                     Data Scientist         90-124
246                                     Data Scientist         90-124
247                                     Data Scientist         90-124
248                         Environmental Data Science         90-124
249                 Computational Behavioral Scientist         90-124
250                                     Data Scientist         90-124
251                         Staff BI and Data Engineer         90-124
252               Principal Machine Learning Scientist         90-124
253        Principal Data Scientist - Machine Learning         90-124
254                     Data Scientist-Human Resources         91-150
255                           Associate Data Scientist         91-150
256            Data Scientist - Statistics, Mid-Career         91-150
257                           Director of Data Science         91-150
258                                     Data Scientist         91-150
259                                     Data Scientist         91-150
260                                     Data Scientist         91-150
261            Data Engineer, Digital & Comp Pathology         91-150
262                                      Data Engineer         91-150
263           Manager / Lead, Data Science & Analytics         91-150
264                                     Data Scientist         91-150
265                                     Data Scientist         91-150
266                                     Data Scientist         91-150
267                                     Data Scientist         91-150
268               Diversity and Inclusion Data Analyst         91-150
269                                     Data Scientist         91-150
270                                     Data Scientist         91-150
271                                     Data Scientist         91-150
272                                     Data Scientist         91-150
273                                     Data Scientist         91-150
274                                     Data Scientist         91-150
275                      Senior Analyst/Data Scientist        141-225
276                                     Data Scientist        141-225
277                                     Data Scientist        141-225
278               Senior Data Scientist - R&D Oncology        141-225
279                                     Data Scientist        141-225
280                                     Data Scientist        141-225
281                                     Data Scientist        141-225
282                                     Data Scientist        141-225
283                                     Data Scientist        141-225

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 660 entries, 0 to 659
Data columns (total 27 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Job Title          660 non-null    object
 1   Salary Estimate    660 non-null    object
 2   Job Description    660 non-null    object
 3   Rating             660 non-null    float64
 4   Company Name       660 non-null    object
 5   Location           660 non-null    object
 6   Headquarters       660 non-null    object
 7   Size               660 non-null    object
 8   Type of ownership  660 non-null    object
 9   Industry           660 non-null    object
 10  Sector             660 non-null    object
 11  Revenue            660 non-null    object
 12  min_salary         660 non-null    int64
 13  max_salary         660 non-null    int64
 14  avg_salary         660 non-null    int64
 15  job_state          660 non-null    object
 16  same_state         660 non-null    int64
 17  company_age        660 non-null    int64
 18  python             660 non-null    int64
 19  excel              660 non-null    int64
 20  hadoop             660 non-null    int64
 21  spark              660 non-null    int64
 22  aws                660 non-null    int64
 23  tableau            660 non-null    int64
 24  big_data           660 non-null    int64
 25  job_simp           660 non-null    object
 26  seniority          660 non-null    object
dtypes: float64(1), int64(12), object(14)
memory usage: 139.3+ KB

In [9]:
df.describe()

,Rating,min_salary,max_salary,avg_salary,same_state,company_age,python,excel,hadoop,spark,aws,tableau,big_data
count,660.000000,660.000000,660.000000,660.000000,660.000000,660.000000,660.000000,660.000000,660.000000,660.000000,660.000000,660.000000,660.000000
mean,3.587424,99.296970,148.301515,123.612121,0.407576,29.736364,0.730303,0.440909,0.212121,0.281818,0.260606,0.184848,0.206061
std,1.183540,33.161485,48.264588,39.786698,0.491756,39.763033,0.444139,0.496873,0.409120,0.450226,0.439298,0.388469,0.404781
min,0.000000,31.000000,56.000000,43.000000,0.000000,-1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,3.300000,79.000000,119.000000,103.000000,0.000000,5.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,3.800000,91.000000,133.000000,114.000000,0.000000,16.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,4.300000,122.000000,165.000000,136.000000,1.000000,37.250000,1.000000,1.000000,0.000000,1.000000,1.000000,0.000000,0.000000
max,5.000000,212.000000,331.000000,271.000000,1.000000,239.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [10]:
num_rows, num_cols = df.shape
print("Number of rows:", num_rows)
print("Number of columns:", num_cols)

Number of rows: 660
Number of columns: 27

In [15]:
df = df[(df != -1).all(axis=1)]

In [16]:
df

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Type of ownership,Industry,Sector,Revenue,min_salary,max_salary,avg_salary,job_state,same_state,company_age,python,excel,hadoop,spark,aws,tableau,big_data,job_simp,seniority
0,Sr Data Scientist,137-171,Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst,"New York, NY","New York, NY",1001 to 5000 employees,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,137,171,154,NY,1,27,0,0,0,0,1,0,0,data scientist,senior
1,Data Scientist,137-171,"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),137,171,154,VA,0,52,0,0,1,0,0,0,1,data scientist,na
2,Data Scientist,137-171,Overview\n\n\nAnalysis Group is one of the lar...,3.8,Analysis Group,"Boston, MA","Boston, MA",1001 to 5000 employees,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD),137,171,154,MA,1,39,1,1,0,0,1,0,0,data scientist,na
3,Data Scientist,137-171,JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,INFICON,"Newton, MA","Bad Ragaz, Switzerland",501 to 1000 employees,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD),137,171,154,MA,0,20,1,1,0,0,1,0,0,data scientist,na
4,Data Scientist,137-171,Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions,"New York, NY","New York, NY",51 to 200 employees,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,137,171,154,NY,1,22,1,1,0,0,0,0,0,data scientist,na
5,Data Scientist,137-171,About Us:\n\nHeadquartered in beautiful Santa ...,4.2,HG Insights,"Santa Barbara, CA","Santa Barbara, CA",51 to 200 employees,Company - Private,Computer Hardware & Software,Information Technology,Unknown / Non-Applicable,137,171,154,CA,1,10,1,1,1,1,0,0,0,data scientist,na
6,Data Scientist / Machine Learning Expert,137-171,Posting Title\nData Scientist / Machine Learni...,3.9,Novartis,"Cambridge, MA","Basel, Switzerland",10000+ employees,Company - Public,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,$10+ billion (USD),137,171,154,MA,0,24,1,0,0,0,0,0,0,data scientist,na
7,Data Scientist,137-171,Introduction\n\nHave you always wanted to run ...,3.5,iRobot,"Bedford, MA","Bedford, MA",1001 to 5000 employees,Company - Public,Consumer Electronics & Appliances Stores,Retail,$1 to $2 billion (USD),137,171,154,MA,1,30,1,0,0,0,0,0,0,data scientist,na
8,Staff Data Scientist - Analytics,137-171,Intuit is seeking a Staff Data Scientist to co...,4.4,Intuit - Data,"San Diego, CA","Mountain View, CA",5001 to 10000 employees,Company - Public,Computer Hardware & Software,Information Technology,$2 to $5 billion (USD),137,171,154,CA,0,37,0,0,0,0,0,0,0,data scientist,na
9,Data Scientist,137-171,Ready to write the best chapter of your career...,3.6,XSELL Technologies,"Chicago, IL","Chicago, IL",51 to 200 employees,Company - Private,Enterprise Software & Network Solutions,Information Technology,Unknown / Non-Applicable,137,171,154,IL,1,6,1,0,0,0,0,0,0,data scientist,na
10,Data Scientist,137-171,Join our team dedicated to developing and exec...,4.5,Novetta,"Herndon, VA","Mc Lean, VA",501 to 1000 employees,Company - Private,Enterprise Software & Network Solutions,Information Technology,$100 to $500 million (USD),137,171,154,VA,0,8,1,1,0,0,1,0,0,data scientist,na
11,Data Scientist,137-171,About Us\n\n\nInterested in working for a huma...,4.7,1904labs,"Saint Louis, MO","Saint Louis, MO",51 to 200 employees,Company - Private,IT Services,Information Technology,Unknown / Non-Applicable,137,171,154,MO,1,4,1,0,0,1,0,0,0,data scientist,na
12,"Data Scientist - Statistics, Early Career",137-171,*Organization and Job ID**\nJob ID: 310918\n\n...,3.7,PNNL,"Richland, WA","Richland, WA",1001 to 5000 employees,Government,Energy,"Oil, Gas, Energy & Utilities",$500 million to $1 billion (USD),137,171,154,WA,1,55,0,1,0,0,0,0,0,data scientist,na
13,Data Modeler,137-171,POSITION PURPOSE:\n\nThe Data Architect/Data M...,3.1,Old World Industries,"Northbrook, IL","Northbrook, IL",201 to 500 employees,Company - Private,Chemical Manufacturing,Manufacturing,$1 to $2 billion (USD),137,171,154,IL,1,47,1,1,0,0,0,1,0,na,na
14,Data Scientist,137-171,Position Description:\n\nWant to make a differ...,3.4,Mathematica Policy Research,"Washington, DC","Princeton, NJ",1001 to 5000 employees,Company - Private,Consulting,Business Services,$100 to $500 million (USD),137,171,154,DC,0,34,1,1,0,0,1,0,0,data scientist,na
15,Experienced Data Scientist,137-171,*******Please Apply using this link: https://a...,4.4,Guzman & Griffin Technologies (GGTI),"Washington, DC","Mays Landing, NJ",1 to 50 employees,Company - Private,Federal Agencies,Government,Unknown / Non-Applicable,137,171,154,DC,0,23,1,1,1,1,0,1,0,data scientist,na
16,Data Scientist,137-171,Job Success Profile\n\nData Scientist\n\nBuckm...,3.5,Buckman,"Memphis, TN","Memphis, TN",1001 to 5000 employees,Company - Private,Chemical Manufacturing,Manufacturing,$500 million to $1 billion (USD),137,171,154,TN,1,75,1,0,1,0,0,0,0,data scientist,na
17,Data Analyst II,137-171,The Data Analyst II is responsible for data en...,4.2,"Insight Enterprises, Inc.","Plano, TX","Tempe, AZ",5001 to 10000 employees,Company - Public,Enterprise Software & Network Solutions,Information Technology,$5 to $10 billion (USD),137,171,154,TX,0,32,0,1,0,0,0,0,0,analyst,na
18,Medical Lab Scientist,137-171,Responsibilities\n\n\nThe Medical Laboratory S...,3.5,Tower Health,"West Grove, PA","Reading, PA",5001 to 10000 employees,Nonprofit Organization,Health Care Services & Hospitals,Health Care,Unknown / Non-Applicable,137,171,154,PA,0,3,0,0,0,0,0,0,0,na,na
19,Data Scientist,137-171,Role Description\nAs a data scientist at Tripl...,3.2,Triplebyte,"New York, NY","San Francisco, CA",51 to 200 employees,Company - Private,Computer Hardware & Software,Information Technology,Unknown / Non-Applicable,137,171,154,NY,0,5,0,0,0,0,0,0,0,data scientist,na
20,Data Scientist/Machine Learning,137-171,"PulsePoint™, a global programmatic advertising...",4.3,PulsePoint,"New York, NY","New York, NY",51 to 200 employees,Company - Private,Internet,Information Technology,$100 to $500 million (USD),137,171,154,NY,1,9,1,0,1,1,0,0,1,data scientist,na
21,Human Factors Scientist,137-171,Human Factors Scientist\nID\n\n3336\n\nLocatio...,3.5,Exponent,"Phoenix, AZ","Menlo Park, CA",1001 to 5000 employees,Company - Public,Consulting,Business Services,$100 to $500 million (USD),137,171,154,AZ,0,53,0,1,0,0,0,0,0,na,na
22,Business Intelligence Analyst I- Data Insights,137-171,Position Summary\n\nIndividuals within the\nBu...,3.5,Guardian Life,"Appleton, WI","New York, NY",5001 to 10000 employees,Company - Private,Insurance Carriers,Insurance,$5 to $10 billion (USD),137,171,154,WI,0,160,0,0,0,0,0,0,0,analyst,na
23,Data Scientist,137-171,What’s significantly better than working on a ...,3.4,Spectrum Communications and Consulting,"Chicago, IL","Chicago, IL",51 to 200 employees,Company - Private,Advertising & Marketing,Business Services,$10 to $25 million (USD),137,171,154,IL,1,28,0,0,0,0,0,0,0,data scientist,na
24,Data Scientist,137-171,Job Description\n\n\nOversight is a leading pr...,4.7,Oversight Systems,"Atlanta, GA","Atlanta, GA",51 to 200 employees,Company - Private,Computer Hardware & Software,Information Technology,$25 to $50 million (USD),137,171,154,GA,1,17,1,1,0,0,0,0,0,data scientist,na
25,Data Scientist - Risk,137-171,Job Title: Data Scientist (Risk)\n\nLocation: ...,4.2,LSQ,"Orlando, FL","Orlando, FL",51 to 200 employees,Company - Private,Investment Banking & Asset Management,Finance,$100 to $500 million (USD),137,171,154,FL,1,24,1,1,1,1,1,1,1,data scientist,na
26,Data Scientist-Human Resources,137-171,"Lexington, MA, US\n\n#job-location.job-locatio...",3.8,MIT Lincoln Laboratory,"Lexington, MA","Lexington, MA",1001 to 5000 employees,Nonprofit Organization,Aerospace & Defense,Aerospace & Defense,Unknown / Non-Applicable,137,171,154,MA,1,69,1,0,1,1,0,0,1,data scientist,na
27,Data Scientist,137-171,"Kingfisher Systems, Inc. specializes in provid...",4.5,Kingfisher Systems,"McLean, VA","Falls Church, VA",51 to 200 employees,Company - Private,Federal Agencies,Government,$25 to $50 million (USD),137,171,154,VA,0,15,1,0,0,0,0,1,0,data scientist,na
28,Data Scientist,137-171,Formation provides personalization for the lar...,2.8,Formation,"San Francisco, CA","San Francisco, CA",51 to 200 employees,Company - Private,Enterprise Software & Network Solutions,Information Technology,Unknown / Non-Applicable,137,171,154,CA,1,5,0,1,0,1,0,0,1,data scientist,na
29,Data Scientist,75-131,Overview\n\n\nAnalysis Group is one of the lar...,3.8,Analysis Group,"Boston, MA","Boston, MA",1001 to 5000 employees,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD),75,131,103,MA,1,39,1,1,0,0,1,0,0,data scientist,na
30,Data Scientist / Machine Learning Expert,75-131,Posting Title\nData Scientist / Machine Learni...,3.9,Novartis,"Cambridge, MA","Basel, Switzerland",10000+ employees,Company - Public,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,$10+ billion (USD),75,131,103,MA,0,24,1,0,0,0,0,0,0,data scientist,na
31,Data Scientist,75-131,Cohere Health is simplifying healthcare for pa...,5.0,Cohere Health,"Boston, MA","Boston, MA",1 to 50 employees,Company - Private,IT Services,Information Technology,Unknown / Non-Applicable,75,131,103,MA,1,1,1,1,0,0,0,0,0,data scientist,na
32,Senior Research Statistician- Data Scientist,75-131,Acuity is seeking a Senior Research Statistici...,4.8,Acuity Insurance,"Sheboygan, WI","Sheboygan, WI",1001 to 5000 employees,Company - Private,Insurance Carriers,Insurance,$1 to $2 billion (USD),75,131,103,WI,1,95,0,0,0,0,0,0,0,data scientist,senior
33,Data Engineer,75-131,Chef Software is the industry leader in IT aut...,3.6,Chef,United States,"Seattle, WA",201 to 500 employees,Company - Private,Enterprise Software & Network Solutions,Information Technology,$50 to $100 million (USD),75,131,103,US,0,12,0,1,0,0,1,0,1,data engineer,na
34,Associate Data Scientist,75-131,Puget Sound Energy is looking to grow our comm...,3.3,Puget Sound Energy,"Bothell, WA","Bellevue, WA",1001 to 5000 employees,Company - Private,Utilities,"Oil, Gas, Energy & Utilities",$2 to $5 billion (USD),75,131,103,WA,0,21,0,1,1,1,0,0,0,data scientist,na
35,Business Intelligence Analyst,75-131,The Business Intelligence Analyst is responsib...,2.7,Sandhills Global,"Lincoln, NE","Lincoln, NE",1001 to 5000 employees,Company - Private,Enterprise Software & Network Solutions,Information Technology,$50 to $100 million (USD),75,131,103,NE,1,42,1,1,0,0,0,1,0,analyst,na
36,Data Scientist,75-131,Join Our Growing Team\nA career with A Place f...,2.7,A Place for Mom,"Overland Park, KS","New York, NY",501 to 1000 employees,Company - Private,Health Care Services & Hospitals,Health Care,Unknown / Non-Applicable,75,131,103,KS,0,20,1,1,0,0,1,0,0,data scientist,na
37,Data Scientist,75-131,Job Title: Data Scientists\n\nJob Description\...,2.2,Great-Circle Technologies,"Chantilly, VA","Chantilly, VA",1 to 50 employees,Company - Private,Enterprise Software & Network Solutions,Information Technology,$1 to $5 million (USD),75,131,103,VA,1,20,1,1,1,1,1,0,0,data scientist,na
38,Senior Analyst/Data Scientist,75-131,At Edmunds were driven to make car buying easi...,3.4,Edmunds.com,"Santa Monica, CA","Santa Monica, CA",501 to 1000 employees,Company - Private,Internet,Information Technology,$100 to $500 million (USD),75,131,103,CA,1,54,1,1,0,0,1,1,0,data scientist,senior
39,Data Analyst,75-131,Data Analyst\nLocation\n\n\nBoston\n\nBusiness...,3.1,"Cambridge Associates, LLC","Boston, MA","Boston, MA",501 to 1000 employees,Company - Private,Investment Banking & Asset Management,Finance,$100 to $500 million (USD),75,131,103,MA,1,47,1,1,0,0,0,0,0,analyst,na
40,Machine Learning Engineer,75-131,We deliver our customers peace of mind every d...,3.4,Liberty Mutual Insurance,"Portsmouth, NH","Boston, MA",10000+ employees,Company - Private,Insurance Carriers,Insurance,$10+ billion (USD),75,131,103,NH,0,108,1,1,0,1,1,0,1,mle,na
41,Data Analyst I,75-131,Who is Cenlar?\n\nYou are.\n\nEmployee-owners ...,2.6,Cenlar,"Ewing, NJ","Ewing, NJ",1001 to 5000 employees,Company - Private,-1,-1,$100 to $500 million (USD),75,131,103,NJ,1,62,0,0,0,0,0,0,0,analyst,na
42,Scientist - Molecular Biology,75-131,ArsenalBio’s mission is to develop efficacious...,5.0,Arsenal Biosciences,"South San Francisco, CA","South San Francisco, CA",51 to 200 employees,Company - Private,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,Unknown / Non-Applicable,75,131,103,CA,1,1,0,0,0,0,0,0,0,na,na
43,Data Scientist,75-131,The Opportunity\n\nEversight is the recognized...,4.2,Eversight,"Palo Alto, CA","Palo Alto, CA",51 to 200 employees,Company - Private,Enterprise Software & Network Solutions,Information Technology,$10 to $25 million (USD),75,131,103,CA,1,7,1,0,0,0,0,0,0,data scientist,na
44,"Computational Scientist, Machine Learning",75-131,ROLE SUMMARY\n\nThe Pfizer Simulation and Mode...,4.1,Pfizer,"Cambridge, MA","New York, NY",10000+ employees,Company - Public,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,$10+ billion (USD),75,131,103,MA,0,171,1,1,0,0,1,0,0,mle,na
45,Senior Data Scientist,75-131,Klaviyo is looking for Senior Data Scientists ...,4.8,Klaviyo,"Boston, MA","Boston, MA",201 to 500 employees,Company - Private,Computer Hardware & Software,Information Technology,Unknown / Non-Applicable,75,131,103,MA,1,8,0,0,0,0,0,0,0,data scientist,senior
46,Data Scientist,75-131,Job Description\n\nThe Cooking Lab is the publ...,3.3,Intellectual Ventures,"Bellevue, WA","Bellevue, WA",501 to 1000 employees,Company - Private,Investment Banking & Asset Management,Finance,Unknown / Non-Applicable,75,131,103,WA,1,20,1,1,0,0,0,0,0,data scientist,na
47,Data Scientist,75-131,We are looking for Data Scientists who are int...,3.7,GovTech,"San Francisco, CA","Singapore, Singapore",1001 to 5000 employees,Government,Federal Agencies,Government,Unknown / Non-Applicable,75,131,103,CA,0,4,1,1,0,0,0,1,0,data scientist,na
48,Data Scientist,75-131,Company Description:\nWhats it like to work at...,4.3,Quick Base,"Cambridge, MA","Cambridge, MA",201 to 500 employees,Company - Private,Enterprise Software & Network Solutions,Information Technology,Unknown / Non-Applicable,75,131,103,MA,1,21,1,1,0,0,0,1,0,data scientist,na
49,Data Analyst,75-131,Reporting to Director of Data\n\nCompany Overv...,4.8,Giving Assistant,"San Francisco, CA","San Francisco, CA",1 to 50 employees,Company - Private,Advertising & Marketing,Business Services,$10 to $25 million (USD),75,131,103,CA,1,6,1,1,0,0,0,1,0,analyst,na
50,Data Scientist,75-131,"By clicking the Apply button, I understand tha...",3.7,Takeda,"Cambridge, MA","OSAKA, Japan",10000+ employees,Company - Public,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,$10+ billion (USD),75,131,103,MA,0,239,1,0,0,1,0,0,0,data scientist,na
51,Data Scientist,75-131,"About Netskope\n\nToday, there's more data and...",4.0,Netskope,"San Francisco, CA","Santa Clara, CA",501 to 1000 employees,Company - Private,Enterprise Software & Network Solutions,Information Technology,Unknown / Non-Applicable,75,131,103,CA,0,8,1,1,0,1,0,0,1,data scientist,na
52,E-Commerce Data Analyst,75-131,We have an exciting opportunity forYOU to join...,3.5,iSeatz,"New Orleans, LA","New Orleans, LA",51 to 200 employees,Company - Private,Enterprise Software & Network Solutions,Information Technology,Unknown / Non-Applicable,75,131,103,LA,1,21,0,1,0,0,0,0,0,analyst,na
53,Data Analytics Engineer,75-131,Analytics Engineer-Administration\nSumma Healt...,3.7,Summa Health System,"Akron, OH","Akron, OH",5001 to 10000 employees,Nonprofit Organization,Health Care Services & Hospitals,Health Care,$100 to $500 million (USD),75,131,103,OH,1,94,0,1,0,0,1,1,0,na,na
54,Senior Data Scientist,75-131,Benson Hill empowers innovators to develop mor...,3.5,Benson Hill,"Saint Louis, MO","Saint Louis, MO",201 to 500 employees,Company - Private,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,$1 to $5 million (USD),75,131,103,MO,1,8,1,1,0,0,0,0,1,data scientist,senior
55,Product Data Scientist - Ads Data Science,75-131,Who We Are\n\n\nThe team is responsible for pl...,4.1,Twitter,"San Francisco, CA","San Francisco, CA",1001 to 5000 employees,Company - Public,Internet,Information Technology,$2 to $5 billion (USD),75,131,103,CA,1,14,1,0,0,0,0,0,0,data scientist,na
56,Data Scientist,75-131,WHO WE ARE\n\n\nPostmates enables anyone to ha...,3.2,Postmates - Corporate HQ,"San Francisco, CA","San Francisco, CA",1001 to 5000 employees,Company - Private,Express Delivery Services,Transportation & Logistics,Unknown / Non-Applicable,75,131,103,CA,1,9,1,0,0,1,0,0,0,data scientist,na
57,Data Scientist - Intermediate,75-131,Job description:\n\nCreate and maintain code f...,4.5,Envision LLC,"Saint Louis, MO","Saint Louis, MO",201 to 500 employees,Company - Private,Staffing & Outsourcing,Business Services,$25 to $50 million (USD),75,131,103,MO,1,26,1,1,0,0,0,0,0,data scientist,na
58,Data Analyst,75-131,About Swiss Re\n\nSwiss Re is one of the world...,3.8,Swiss Re,"Fort Wayne, IN","Zurich, Switzerland",10000+ employees,Company - Public,Insurance Agencies & Brokerages,Insurance,$10+ billion (USD),75,131,103,IN,0,157,1,1,0,0,0,0,0,analyst,na
59,Machine Learning Engineer,75-131,The Video & Image Understanding Group develops...,4.5,Systems & Technology Research,"Woburn, MA","Woburn, MA",201 to 500 employees,Company - Private,Aerospace & Defense,Aerospace & Defense,$100 to $500 million (USD),75,131,103,MA,1,10,1,1,0,0,0,0,0,mle,na
60,Data Scientist,79-131,Introduction\n\nHave you always wanted to run ...,3.5,iRobot,"Bedford, MA","Bedford, MA",1001 to 5000 employees,Company - Public,Consumer Electronics & Appliances Stores,Retail,$1 to $2 billion (USD),79,131,105,MA,1,30,1,0,0,0,0,0,0,data scientist,na
61,Data Scientist,79-131,About Us:\n\nHeadquartered in beautiful Santa ...,4.2,HG Insights,"Santa Barbara, CA","Santa Barbara, CA",51 to 200 employees,Company - Private,Computer Hardware & Software,Information Technology,Unknown / Non-Applicable,79,131,105,CA,1,10,1,1,1,1,0,0,0,data scientist,na
62,Global Data Analyst,79-131,Global Data Analyst\nJob Code\n\n3938\n\nLocat...,3.8,Dermalogica,"Carson, CA","Carson, CA",201 to 500 employees,Subsidiary or Business Segment,Consumer Products Manufacturing,Manufacturing,$100 to $500 million (USD),79,131,105,CA,1,34,0,1,0,0,0,1,0,analyst,na
63,Data Engineer,79-131,POSITION SUMMARY\n\n\nThe candidate will be jo...,3.7,Bayview Asset Management,"Coral Gables, FL","Coral Gables, FL",1001 to 5000 employees,Company - Private,Investment Banking & Asset Management,Finance,$100 to $500 million (USD),79,131,105,FL,1,25,1,0,0,0,0,0,0,data engineer,na
64,Data Scientist,79-131,"As a Data Scientist, you'll utilize advanced q...",3.7,Via Transportation,"New York, NY","New York, NY",501 to 1000 employees,Company - Private,Internet,Information Technology,Unknown / Non-Applicable,79,131,105,NY,1,8,1,0,0,0,0,1,0,data scientist,na
65,Data Scientist,79-131,"As a member of the Data Science team, this rol...",4.0,Grid Dynamics,"Santa Clara, CA","San Ramon, CA",1001 to 5000 employees,Company - Private,Enterprise Software & Network Solutions,Information Technology,$50 to $100 million (USD),79,131,105,CA,0,14,1,1,0,0,0,1,1,data scientist,na
66,Data & Machine Learning Scientist,79-131,Passionate about precision medicine and advanc...,3.3,Tempus Labs,"Chicago, IL","Chicago, IL",501 to 1000 employees,Company - Private,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,Unknown / Non-Applicable,79,131,105,IL,1,5,1,0,0,0,1,0,0,mle,na

In [17]:
num_rows, num_cols = df.shape
print("Number of rows:", num_rows)
print("Number of columns:", num_cols)

Number of rows: 542
Number of columns: 27