<a href="https://colab.research.google.com/github/rushi-k12/Data_Cleaning/blob/main/clean_13.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

pd.set_option('display.max_columns',None)

In [ ]:
df=pd.read_excel("/content/messy-data.xlsx")

In [ ]:
df.drop('Unnamed: 0',inplace=True, axis=1)

In [ ]:
df.columns=df.iloc[1]
df.head()

1  Month, period  Lake Victoria    Simiyu
0            NaN            NaN       NaN
1  Month, period  Lake Victoria    Simiyu
2  Jan,2001-2019        3.176mm  2.908474
3  Feb,2001-2019        3.477mm     1.8mm
4  Mar,2001-2019       4.687053  2.981053

In [ ]:
#dropping the null values to avert errors
df.dropna(inplace=True)

In [ ]:
#To replace the mm values in the column apiece
df['Lake Victoria']=df['Lake Victoria'].replace(['3.176mm',"3.477mm"], ['3.176','3.477'])
df['Simiyu']=df['Simiyu'].replace(['1.8mm'],['1.8'])

In [ ]:
#reename a column
df.rename(columns={'Month, period': 'Month', 'Lake Victoria': 'Victoria'}, inplace=True)

In [ ]:
#split the first column
df[['Month', 'Period']] = df['Month'].str.split(',', 1, expand=True)

C:\Users\PC\AppData\Local\Temp\ipykernel_8096\2696642038.py:2: FutureWarning: In a future version of pandas all arguments of StringMethods.split except for the argument 'pat' will be keyword-only.
  df[['Month', 'Period']] = df['Month'].str.split(',', 1, expand=True)

In [ ]:
#to drop the first row
df.drop([1], axis=0, inplace=True)

In [ ]:
#convert each value to float
df['Victoria'] = pd.to_numeric(df['Victoria'])
df['Simiyu'] = pd.to_numeric(df['Simiyu'])

In [ ]:
#rounding up the column values
df["Simiyu"].round(decimals=1)

2     2.9
3     1.8
4     3.0
5     4.8
6     4.1
7     1.0
8     0.2
9     0.3
10    1.2
11    2.5
12    3.1
13    3.9
Name: Simiyu, dtype: float64

In [ ]:
df["Victoria"].round(decimals=1)

2     3.2
3     3.5
4     4.7
5     7.0
6     9.4
7     3.4
8     1.8
9     2.8
10    4.0
11    5.3
12    5.1
13    4.2
Name: Victoria, dtype: float64

In [ ]:
df.head()

1 Month  Victoria    Simiyu     Period
2   Jan  3.176000  2.908474  2001-2019
3   Feb  3.477000  1.800000  2001-2019
4   Mar  4.687053  2.981053  2001-2019
5   Apr  7.004526  4.753579  2001-2019
6   May  9.362789  4.077474  2001-2019

In [ ]:
df.to_csv("cleaned data.csv", index=False)