<a href="https://colab.research.google.com/github/rushi-k12/Data_Cleaning/blob/main/clean_14.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
df=pd.read_excel("/content/Cola.xlsx")

In [ ]:
df

,Data provided by SimFin,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Profit & Loss statement,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,in million USD,FY '09,FY '10,FY '11,FY '12,FY '13,FY '14,FY '15,FY '16,FY '17,FY '18
3,NaN,NET OPERATING REVENUES,30990,35119,46542,48017,46854,45998,44294,41863,35410,31856
4,NaN,Cost of goods sold,11088,12693,18215,19053,18421,17889,17482,16465,13255,11770
...,...,...,...,...,...,...,...,...,...,...,...,...
98,NaN,Effect of exchange rate changes on cash and ca...,576,-166,-430,-255,-611,-934,-878,-6,241,-262
99,NaN,Cash Provided by (Used in) Investing Activitie...,NaN,NaN,NaN,NaN,NaN,NaN,0,0,-58,-421
100,NaN,Cash Provided by (Used in) Financing Activitie...,NaN,NaN,NaN,NaN,NaN,NaN,0,0,-38,205
101,NaN,Net Cash Provided by (Used in) Discontinued Op...,NaN,NaN,NaN,NaN,NaN,NaN,0,0,15,91
102,NaN,Net increase (decrease) during the year,2320,1496,4286,-4361,1972,-1456,-1649,1246,-2477,2945

In [ ]:
df.dropna(inplace=True)

In [ ]:
df.shape

(0, 12)

In [ ]:
new_column_names = ['Category', 'Unit', 'FY09', 'FY10', 'FY11', 'FY12', 'FY13', 'FY14', 'FY15', 'FY16', 'FY17', 'FY18']
df.columns = new_column_names

In [ ]:
df = df.iloc[2:].reset_index(drop=True)

In [ ]:
df['Category'].fillna(method='ffill', inplace=True)
df['Unit'].fillna('', inplace=True)

In [ ]:
df.reset_index(drop=True, inplace=True)

In [ ]:
financial_columns = df.columns.drop(['Category', 'Unit'])
df[financial_columns] = df[financial_columns].apply(pd.to_numeric, errors='coerce')

In [ ]:
df

Empty DataFrame
Columns: [Category, Unit, FY09, FY10, FY11, FY12, FY13, FY14, FY15, FY16, FY17, FY18]
Index: []