<a href="https://colab.research.google.com/github/rushi-k12/Data_Cleaning/blob/main/clean_16.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [18]:
import numpy as np
import pandas as pd

In [19]:
df=pd.read_csv("/content/my_file (1).csv")

In [20]:
df

,Rank,Peak,All Time Peak,Actual gross,Actual gross(in 2022 dollars),Artist,Tour title,Year(s),Shows,Average gross,Ref.
0,1,1,2,"$780,000,000","$780,000,000",Taylor Swift,The Eras Tour †,2023–2024,56,"$13,928,571",[1]
1,2,1,7[2],"$579,800,000","$579,800,000",Beyoncé,Renaissance World Tour,2023,56,"$10,353,571",[3]
2,3,1[4],2[5],"$411,000,000","$560,622,615",Madonna,Sticky & Sweet Tour ‡[4][a],2008–2009,85,"$4,835,294",[6]
3,4,2[7],10[7],"$397,300,000","$454,751,555",Pink,Beautiful Trauma World Tour,2018–2019,156,"$2,546,795",[7]
4,5,2[4],NaN,"$345,675,146","$402,844,849",Taylor Swift,Reputation Stadium Tour,2018,53,"$6,522,173",[8]
5,6,2[4],10[9],"$305,158,363","$388,978,496",Madonna,The MDNA Tour,2012,88,"$3,467,709",[9]
6,7,2[10],NaN,"$280,000,000","$381,932,682",Celine Dion,Taking Chances World Tour,2008–2009,131,"$2,137,405",[11]
7,7,NaN,NaN,"$257,600,000","$257,600,000",Pink,Summer Carnival †,2023–2024,41,"$6,282,927",[12]
8,9,NaN,NaN,"$256,084,556","$312,258,401",Beyoncé,The Formation World Tour,2016,49,"$5,226,215",[13]
9,10,NaN,NaN,"$250,400,000","$309,141,878",Taylor Swift,The 1989 World Tour,2015,85,"$2,945,882",[14]
10,11,NaN,NaN,"$229,100,000[b]","$283,202,896",Beyoncé,The Mrs. Carter Show World Tour,2013–2014,132,"$1,735,606",[15][16]
11,12,NaN,14[17],"$227,400,000","$295,301,479",Lady Gaga,The Monster Ball Tour *,2009–2011,203,"$1,118,227",[18]
12,13,NaN,NaN,"$204,000,000","$251,856,802",Katy Perry,Prismatic World Tour,2014–2015,151,"$1,350,993",[19]
13,14,1[20],NaN,"$200,000,000","$299,676,265",Cher,Living Proof: The Farewell Tour ‡[21][a],2002–2005,325,"$615,385",[20]
14,15,2[c],NaN,"$194,000,000","$281,617,035",Madonna,Confessions Tour,2006,60,"$3,233,333",[5]
15,16,NaN,NaN,"$184,000,000","$227,452,347",Pink,The Truth About Love Tour,2013–2014,142,"$1,295,775",[22]
16,17,NaN,NaN,"$170,000,000","$213,568,571",Lady Gaga,Born This Way Ball,2012–2013,98,"$1,734,694",[d]
17,18,NaN,NaN,"$169,800,000","$207,046,755",Madonna,Rebel Heart Tour,2015–2016,82,"$2,070,732",[4]
18,19,NaN,NaN,"$167,700,000[e]","$204,486,106",Adele,Adele Live 2016,2016–2017,121,"$1,385,950",[25]
19,20,NaN,NaN,"$150,000,000","$185,423,109",Taylor Swift,The Red Tour,2013–2014,86,"$1,744,186",[26]

In [21]:
df.describe()

            Rank       Shows
count  20.000000   20.000000
mean   10.450000  110.000000
std     5.942488   66.507617
min     1.000000   41.000000
25%     5.750000   59.000000
50%    10.500000   87.000000
75%    15.250000  134.500000
max    20.000000  325.000000

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 11 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Rank                           20 non-null     int64
 1   Peak                           9 non-null      object
 2   All Time Peak                  6 non-null      object
 3   Actual gross                   20 non-null     object
 4   Actual gross(in 2022 dollars)  20 non-null     object
 5   Artist                         20 non-null     object
 6   Tour title                     20 non-null     object
 7   Year(s)                        20 non-null     object
 8   Shows                          20 non-null     int64
 9   Average gross                  20 non-null     object
 10  Ref.                           20 non-null     object
dtypes: int64(2), object(9)
memory usage: 1.8+ KB

In [23]:
df.shape

(20, 11)

In [24]:
df.isnull().sum()

Rank                              0
Peak                             11
All Time Peak                    14
Actual gross                      0
Actual gross(in 2022 dollars)     0
Artist                            0
Tour title                        0
Year(s)                           0
Shows                             0
Average gross                     0
Ref.                              0
dtype: int64

In [25]:
df['Actual gross'] = df['Actual gross'].str.replace(r'\[.*\]', '', regex=True)
df['Actual gross'] = pd.to_numeric(df['Actual gross'], errors='coerce')

In [26]:
df['Actual gross(in 2022 dollars)'] = df['Actual gross(in 2022 dollars)'].replace('[\$,]', '', regex=True).astype(float)
df['Average gross'] = df['Average gross'].replace('[\$,]', '', regex=True).astype(float)

In [27]:
df

,Rank,Peak,All Time Peak,Actual gross,Actual gross(in 2022 dollars),Artist,Tour title,Year(s),Shows,Average gross,Ref.
0,1,1,2,NaN,780000000.0,Taylor Swift,The Eras Tour †,2023–2024,56,13928571.0,[1]
1,2,1,7[2],NaN,579800000.0,Beyoncé,Renaissance World Tour,2023,56,10353571.0,[3]
2,3,1[4],2[5],NaN,560622615.0,Madonna,Sticky & Sweet Tour ‡[4][a],2008–2009,85,4835294.0,[6]
3,4,2[7],10[7],NaN,454751555.0,Pink,Beautiful Trauma World Tour,2018–2019,156,2546795.0,[7]
4,5,2[4],NaN,NaN,402844849.0,Taylor Swift,Reputation Stadium Tour,2018,53,6522173.0,[8]
5,6,2[4],10[9],NaN,388978496.0,Madonna,The MDNA Tour,2012,88,3467709.0,[9]
6,7,2[10],NaN,NaN,381932682.0,Celine Dion,Taking Chances World Tour,2008–2009,131,2137405.0,[11]
7,7,NaN,NaN,NaN,257600000.0,Pink,Summer Carnival †,2023–2024,41,6282927.0,[12]
8,9,NaN,NaN,NaN,312258401.0,Beyoncé,The Formation World Tour,2016,49,5226215.0,[13]
9,10,NaN,NaN,NaN,309141878.0,Taylor Swift,The 1989 World Tour,2015,85,2945882.0,[14]
10,11,NaN,NaN,NaN,283202896.0,Beyoncé,The Mrs. Carter Show World Tour,2013–2014,132,1735606.0,[15][16]
11,12,NaN,14[17],NaN,295301479.0,Lady Gaga,The Monster Ball Tour *,2009–2011,203,1118227.0,[18]
12,13,NaN,NaN,NaN,251856802.0,Katy Perry,Prismatic World Tour,2014–2015,151,1350993.0,[19]
13,14,1[20],NaN,NaN,299676265.0,Cher,Living Proof: The Farewell Tour ‡[21][a],2002–2005,325,615385.0,[20]
14,15,2[c],NaN,NaN,281617035.0,Madonna,Confessions Tour,2006,60,3233333.0,[5]
15,16,NaN,NaN,NaN,227452347.0,Pink,The Truth About Love Tour,2013–2014,142,1295775.0,[22]
16,17,NaN,NaN,NaN,213568571.0,Lady Gaga,Born This Way Ball,2012–2013,98,1734694.0,[d]
17,18,NaN,NaN,NaN,207046755.0,Madonna,Rebel Heart Tour,2015–2016,82,2070732.0,[4]
18,19,NaN,NaN,NaN,204486106.0,Adele,Adele Live 2016,2016–2017,121,1385950.0,[25]
19,20,NaN,NaN,NaN,185423109.0,Taylor Swift,The Red Tour,2013–2014,86,1744186.0,[26]

In [28]:
df.replace('NaN', pd.NA, inplace=True)
df.replace('None', pd.NA, inplace=True)

In [29]:
df

,Rank,Peak,All Time Peak,Actual gross,Actual gross(in 2022 dollars),Artist,Tour title,Year(s),Shows,Average gross,Ref.
0,1,1,2,NaN,780000000.0,Taylor Swift,The Eras Tour †,2023–2024,56,13928571.0,[1]
1,2,1,7[2],NaN,579800000.0,Beyoncé,Renaissance World Tour,2023,56,10353571.0,[3]
2,3,1[4],2[5],NaN,560622615.0,Madonna,Sticky & Sweet Tour ‡[4][a],2008–2009,85,4835294.0,[6]
3,4,2[7],10[7],NaN,454751555.0,Pink,Beautiful Trauma World Tour,2018–2019,156,2546795.0,[7]
4,5,2[4],NaN,NaN,402844849.0,Taylor Swift,Reputation Stadium Tour,2018,53,6522173.0,[8]
5,6,2[4],10[9],NaN,388978496.0,Madonna,The MDNA Tour,2012,88,3467709.0,[9]
6,7,2[10],NaN,NaN,381932682.0,Celine Dion,Taking Chances World Tour,2008–2009,131,2137405.0,[11]
7,7,NaN,NaN,NaN,257600000.0,Pink,Summer Carnival †,2023–2024,41,6282927.0,[12]
8,9,NaN,NaN,NaN,312258401.0,Beyoncé,The Formation World Tour,2016,49,5226215.0,[13]
9,10,NaN,NaN,NaN,309141878.0,Taylor Swift,The 1989 World Tour,2015,85,2945882.0,[14]
10,11,NaN,NaN,NaN,283202896.0,Beyoncé,The Mrs. Carter Show World Tour,2013–2014,132,1735606.0,[15][16]
11,12,NaN,14[17],NaN,295301479.0,Lady Gaga,The Monster Ball Tour *,2009–2011,203,1118227.0,[18]
12,13,NaN,NaN,NaN,251856802.0,Katy Perry,Prismatic World Tour,2014–2015,151,1350993.0,[19]
13,14,1[20],NaN,NaN,299676265.0,Cher,Living Proof: The Farewell Tour ‡[21][a],2002–2005,325,615385.0,[20]
14,15,2[c],NaN,NaN,281617035.0,Madonna,Confessions Tour,2006,60,3233333.0,[5]
15,16,NaN,NaN,NaN,227452347.0,Pink,The Truth About Love Tour,2013–2014,142,1295775.0,[22]
16,17,NaN,NaN,NaN,213568571.0,Lady Gaga,Born This Way Ball,2012–2013,98,1734694.0,[d]
17,18,NaN,NaN,NaN,207046755.0,Madonna,Rebel Heart Tour,2015–2016,82,2070732.0,[4]
18,19,NaN,NaN,NaN,204486106.0,Adele,Adele Live 2016,2016–2017,121,1385950.0,[25]
19,20,NaN,NaN,NaN,185423109.0,Taylor Swift,The Red Tour,2013–2014,86,1744186.0,[26]

In [30]:
# Check for NaN values
print("NaN values in the DataFrame:")
print(df.isna().sum())

# Option 1: Drop rows with any NaN values
df_dropped = df.dropna()
print("\nDataFrame after dropping rows with NaN values:")
print(df_dropped)

NaN values in the DataFrame:
Rank                              0
Peak                             11
All Time Peak                    14
Actual gross                     20
Actual gross(in 2022 dollars)     0
Artist                            0
Tour title                        0
Year(s)                           0
Shows                             0
Average gross                     0
Ref.                              0
dtype: int64

DataFrame after dropping rows with NaN values:
Empty DataFrame
Columns: [Rank, Peak, All Time Peak, Actual gross, Actual gross(in 2022 dollars), Artist, Tour title, Year(s), Shows, Average gross, Ref.]
Index: []

In [31]:
df.replace('NaN', pd.NA, inplace=True)
df.replace('None', pd.NA, inplace=True)

In [32]:
df

,Rank,Peak,All Time Peak,Actual gross,Actual gross(in 2022 dollars),Artist,Tour title,Year(s),Shows,Average gross,Ref.
0,1,1,2,NaN,780000000.0,Taylor Swift,The Eras Tour †,2023–2024,56,13928571.0,[1]
1,2,1,7[2],NaN,579800000.0,Beyoncé,Renaissance World Tour,2023,56,10353571.0,[3]
2,3,1[4],2[5],NaN,560622615.0,Madonna,Sticky & Sweet Tour ‡[4][a],2008–2009,85,4835294.0,[6]
3,4,2[7],10[7],NaN,454751555.0,Pink,Beautiful Trauma World Tour,2018–2019,156,2546795.0,[7]
4,5,2[4],NaN,NaN,402844849.0,Taylor Swift,Reputation Stadium Tour,2018,53,6522173.0,[8]
5,6,2[4],10[9],NaN,388978496.0,Madonna,The MDNA Tour,2012,88,3467709.0,[9]
6,7,2[10],NaN,NaN,381932682.0,Celine Dion,Taking Chances World Tour,2008–2009,131,2137405.0,[11]
7,7,NaN,NaN,NaN,257600000.0,Pink,Summer Carnival †,2023–2024,41,6282927.0,[12]
8,9,NaN,NaN,NaN,312258401.0,Beyoncé,The Formation World Tour,2016,49,5226215.0,[13]
9,10,NaN,NaN,NaN,309141878.0,Taylor Swift,The 1989 World Tour,2015,85,2945882.0,[14]
10,11,NaN,NaN,NaN,283202896.0,Beyoncé,The Mrs. Carter Show World Tour,2013–2014,132,1735606.0,[15][16]
11,12,NaN,14[17],NaN,295301479.0,Lady Gaga,The Monster Ball Tour *,2009–2011,203,1118227.0,[18]
12,13,NaN,NaN,NaN,251856802.0,Katy Perry,Prismatic World Tour,2014–2015,151,1350993.0,[19]
13,14,1[20],NaN,NaN,299676265.0,Cher,Living Proof: The Farewell Tour ‡[21][a],2002–2005,325,615385.0,[20]
14,15,2[c],NaN,NaN,281617035.0,Madonna,Confessions Tour,2006,60,3233333.0,[5]
15,16,NaN,NaN,NaN,227452347.0,Pink,The Truth About Love Tour,2013–2014,142,1295775.0,[22]
16,17,NaN,NaN,NaN,213568571.0,Lady Gaga,Born This Way Ball,2012–2013,98,1734694.0,[d]
17,18,NaN,NaN,NaN,207046755.0,Madonna,Rebel Heart Tour,2015–2016,82,2070732.0,[4]
18,19,NaN,NaN,NaN,204486106.0,Adele,Adele Live 2016,2016–2017,121,1385950.0,[25]
19,20,NaN,NaN,NaN,185423109.0,Taylor Swift,The Red Tour,2013–2014,86,1744186.0,[26]

In [33]:
df_filled = df.apply(lambda x: x.fillna(x.mean()) if x.dtype.kind in 'biufc' else x.fillna('Unknown'))

In [34]:
df_filled

,Rank,Peak,All Time Peak,Actual gross,Actual gross(in 2022 dollars),Artist,Tour title,Year(s),Shows,Average gross,Ref.
0,1,1,2,NaN,780000000.0,Taylor Swift,The Eras Tour †,2023–2024,56,13928571.0,[1]
1,2,1,7[2],NaN,579800000.0,Beyoncé,Renaissance World Tour,2023,56,10353571.0,[3]
2,3,1[4],2[5],NaN,560622615.0,Madonna,Sticky & Sweet Tour ‡[4][a],2008–2009,85,4835294.0,[6]
3,4,2[7],10[7],NaN,454751555.0,Pink,Beautiful Trauma World Tour,2018–2019,156,2546795.0,[7]
4,5,2[4],Unknown,NaN,402844849.0,Taylor Swift,Reputation Stadium Tour,2018,53,6522173.0,[8]
5,6,2[4],10[9],NaN,388978496.0,Madonna,The MDNA Tour,2012,88,3467709.0,[9]
6,7,2[10],Unknown,NaN,381932682.0,Celine Dion,Taking Chances World Tour,2008–2009,131,2137405.0,[11]
7,7,Unknown,Unknown,NaN,257600000.0,Pink,Summer Carnival †,2023–2024,41,6282927.0,[12]
8,9,Unknown,Unknown,NaN,312258401.0,Beyoncé,The Formation World Tour,2016,49,5226215.0,[13]
9,10,Unknown,Unknown,NaN,309141878.0,Taylor Swift,The 1989 World Tour,2015,85,2945882.0,[14]
10,11,Unknown,Unknown,NaN,283202896.0,Beyoncé,The Mrs. Carter Show World Tour,2013–2014,132,1735606.0,[15][16]
11,12,Unknown,14[17],NaN,295301479.0,Lady Gaga,The Monster Ball Tour *,2009–2011,203,1118227.0,[18]
12,13,Unknown,Unknown,NaN,251856802.0,Katy Perry,Prismatic World Tour,2014–2015,151,1350993.0,[19]
13,14,1[20],Unknown,NaN,299676265.0,Cher,Living Proof: The Farewell Tour ‡[21][a],2002–2005,325,615385.0,[20]
14,15,2[c],Unknown,NaN,281617035.0,Madonna,Confessions Tour,2006,60,3233333.0,[5]
15,16,Unknown,Unknown,NaN,227452347.0,Pink,The Truth About Love Tour,2013–2014,142,1295775.0,[22]
16,17,Unknown,Unknown,NaN,213568571.0,Lady Gaga,Born This Way Ball,2012–2013,98,1734694.0,[d]
17,18,Unknown,Unknown,NaN,207046755.0,Madonna,Rebel Heart Tour,2015–2016,82,2070732.0,[4]
18,19,Unknown,Unknown,NaN,204486106.0,Adele,Adele Live 2016,2016–2017,121,1385950.0,[25]
19,20,Unknown,Unknown,NaN,185423109.0,Taylor Swift,The Red Tour,2013–2014,86,1744186.0,[26]